*{
    padding: 0;
    margin: 0;
}

.section-one {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/e451379a-dd0a-4657-b530-4ca4c0cb2aee/281cb1aa-8ba5-4250-b9ce-d7ddfc5b1083/BR-pt-20230123-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

}

.header {
    display: flex;
    padding: 30px 40px;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6);
}

.netflix {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

#btn-idioma {
    margin-right: 20px;
    background: transparent;
    color: white;
    width: 100px;
    height: 40px;
    padding: 2px;
    border: 1.3px solid white;
}

#option {
    background: rgb(119, 119, 119);
}

.btn-entrar {
    height: 40px;
    width: 70px;
    color: white;
    background: red;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}

.texto-email {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 129px;
    background: rgba(0, 0, 0, 0.6);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white
}

.titulo1 {
    text-align: center;
    font-size: 50px;
}

.titulo2 {
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
}

.label-bar {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.input-email {
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

#campo-email {
    width: 500px;
    height: 40px;
    border: none;
    font-size: 20px;
    padding: 10px;
}

#campo-email:focus {
    outline: none;
}

.input-email .enviar {
    height: 60px; 
    background: rgb(228, 0, 0);
    color: white;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-email .enviar:hover {
    background: red;
}

.input-email .enviar:active {
    transition: .3s;
    transform: scale(1.05);
}

/*Sections*/

.line {
    width: 100%;
    height: 10px;
    background: rgb(59, 59, 59);
}

.section-two, .section-three, .section-four, .section-five{
    background: black;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 40px;
    padding: 10px 100px 10px 100px;
}

.title-section2, .title-section3, .title-section4, .title-section5 {
    font-size: 52px;
    text-align: left;
    margin-bottom: 10px;
}

.text-section2, .text-section3, .text-section4, .text-section5 {
    font-size: 30px;
    text-align:left;
}

.imag-section2, .imag-section3, .imag-section4 {
    width: 600px;
    height: 400px;
}

.imag-section5 {
    width: 480px;
    height: 400px;
    margin-left: -80px;
}


.section-six {
    background: black;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    align-items: center;
    padding-left: 80px;
    padding-right: 40px;
    padding: 10px 100px 80px 100px;
}

.title-section6 {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}

.question .pergunta-ativacao{
    display: flex;
    background: rgb(61, 61, 61);
    margin: 10px auto 0 auto;
    padding: 10px 40px;
    width: 750px;
    align-items: center;
    justify-content: space-between;
}


.question .pergunta-ativacao h1 {
    color: white;   
}

.question .pergunta-ativacao button {
    font-size: 60px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
}

.animacao-button-ativar {
    transform: rotate(45deg);
}


.perguntas .question .resposta1-desativada {
    display: none;
}

.perguntas .question .resposta2-desativada {
    display: none;
}

.perguntas .question .resposta3-desativada {
    display: none;
}

.perguntas .question .resposta4-desativada {
    display: none;
}

.perguntas .question .resposta5-desativada {
    display: none;
}

.perguntas .question .resposta6-desativada {
    display: none;
}

.perguntas .question .resposta7-desativada {
    display: none;
}

.resposta1-ativada, .resposta2-ativada, .resposta3-ativada, .resposta4-ativada, .resposta5-ativada, .resposta6-ativada, .resposta7-ativada {
    width: 750px;
    margin: 0px auto;
    background: rgb(61, 61, 61);
    padding: 10px 40px;
    font-size: 19px;
    display: block;
}

.perguntas .question .resposta1-ativada .paragraph2 {
    margin-top: 20px;
}

.label-bar-final {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.rodape {
    background: black;
    color: rgb(59, 59, 59);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 250px;
}

a {
    text-decoration: none;
    color: rgb(59, 59, 59);;
}

li {
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

.informacoes-netflix ul:not(:nth-child(1)) {
    margin: 0px 30px;
}

.informacoes-netflix {
    display: flex;
    margin-top: 30px;
}




